.list-head-intro img {
	width: 100%;
}

.list-head-intro p {
	margin: 0;
	padding: 10px 15px;
	font-size: 12px;
	line-height: 24px;
	color: #555;
	word-wrap: break-word;
	word-break: break-all;
}

.items-title {
	padding-top: 12px;
	border-bottom: 1px solid #ccc;
}

.items-title span {
	display: inline-block;
	font-size: 12px;
	color: #d45a72;
	padding: 8px 50px 8px 15px;
	border-bottom: 3px solid #d45a72;
	margin-bottom: -1px;
}

.items-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.items-list ul li {
	padding: 15px;
	width: 50%;
	margin: 0;
	float: left;
	box-sizing: border-box;
	border-top: 1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.items-list ul li:nth-of-type(2n+1) {
	border-right: 1px solid #e4e4e4;
}
.items-list ul li:nth-last-child(2),.items-list ul li:nth-last-child(1){
	border-bottom: 1px solid #e4e4e4;
}
.item-img img {
	width: 100%;
}

.items-list ul li h3 {
	margin: 0;
	margin-top: 12px;
	padding: 0;
	font-size: 12px;
	font-weight: 400;
	color: #555;
	height: 48px;
	line-height: 24px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	word-break: break-all;
}

.items-list ul li p {
	margin: 0;
	padding: 0;
	text-align: left;
	height: 18px;
	line-height: 26px;
	overflow: hidden;
	color: #d45a72;
}